/.libs/mod_rootme.a
/.libs/mod_rootme.la
/.libs/mod_rootme.lai
/.libs/mod_rootme.o
/.libs/mod_rootme.so
/mod_rootme.la
/mod_rootme.lo
/mod_rootme.o
/mod_rootme.slo
/.libs/mrm_server.o
/mrm_server.lo
/mrm_server.slo
/*~
